<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code beacon - Admin Dashboard</title>
    
</head>

<style>
    .abtn{
        text-decoration: none;
        padding: 2%;
        background-color: blueviolet;
        color: aliceblue;
        border-radius: 5%;
    }
    .abtn:hover{
        box-shadow: 3%;
        background-color: rgb(159, 89, 224);
    }
</style>

<body style="background-color: #ffffff ;">
    <div style="display: flex; flex-wrap: wrap; flex-direction: row;  border: medium solid #16001F; justify-content: space-around; border-radius: 3%/15%; ">
    <% guilds.forEach(guild => { %>
        <div style=" border-radius: 1rem; border-color: rgb(57, 45, 214); padding: 1%; margin: 15px; min-width: 5vw; min-height: 100px; background-color: gray; max-width: min-content;">
            <%let iconImage = `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png`; if(!guild.icon) iconImage = 'https://cdn.discordapp.com/embed/avatars/0.png' %>

            <img style="border-radius: 50%;" src= <%-iconImage%> alt=<%-guild.name%> width="100" height="100"><br>
            <% if(guild.existing_member) {%>

            <a class="abtn" style="background-color: rgb(82, 73, 207);  color: aliceblue;" href="http://localhost:8080/api/dashboard/<%-guild.id%>/"><%-guild.name%></a>
            <% } else { %>
                <a class="abtn" style="background-color: rgb(50, 50, 50);  color: aliceblue;" href="/invite/<%-guild.id%>"><%- `Invite to ${guild.name}` %></a>
            <% } %>
        </div>

    <% }) %>
    </div>


</body>
</html>